<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.mdc.entec"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />
    
    <!-- Permissions -->
    <!-- Permissions for Google Analytics -->
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        
        <activity
	              android:name=".HomeActivity"
	              android:label="@string/title_activity_home"
	              android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".HialeahActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".HialeahPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".HialeahMapActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".WolfsonPublicSafetyActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".WolfsonPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".WolfsonActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".KendallActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".KendallPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".KendallMapsActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".KendallPublicSafetyActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".InterAmericanActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".InterAmericanMapsActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".InterAmericanParkingMapActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".InterAmericanPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".InterAmericanPublicSafetyActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>        
        <activity android:name=".NorthActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".NorthPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".NorthMapsActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".NorthPublicSafetyActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".HomesteadActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".HomesteadPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".HomesteadPublicSafetyActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".WestActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".WestPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".WestPublicSafetyActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>        
        <activity android:name=".MedicalActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".MedicalPhoneDirActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".MedicalPublicSafetyActivity"
                  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".HialeahPublicSafetyActivity"
				  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">            
        </activity>
        <activity android:name=".AboutUs"
            	  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">            
        </activity>
        <activity android:name=".SplashScreen"
				  android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>            
        </activity>
        
        </application>

</manifest>